<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184076648202-pkmq339k5i0bbt5h4pcdi4tlbr6oh67e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184076648202-pkmq339k5i0bbt5h4pcdi4tlbr6oh67e</string>
	<key>API_KEY</key>
	<string>AIzaSyDRxa0Ku34VCc_kiB8yo2mEbLLi69TGOO4</string>
	<key>GCM_SENDER_ID</key>
	<string>184076648202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.areebmustafa.Mark-Calculator</string>
	<key>PROJECT_ID</key>
	<string>mark-calculator-67f72</string>
	<key>STORAGE_BUCKET</key>
	<string>mark-calculator-67f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184076648202:ios:60b7831e3786b4a29504f3</string>
	<key>DATABASE_URL</key>
	<string>https://mark-calculator-67f72.firebaseio.com</string>
</dict>
</plist>